* {
  margin: 0;
  padding: 0;
 }

 a, .deal {
  cursor: pointer;
}

.bluePlateLogo {
  margin: auto;
  display: flex;
  height: 250px;
  /*width: 350px;*/
}

nav {
  background: transparent !important;
  border: none !important;
}

.nav li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

.nav li a:hover {
  background-color: white !important;
  color: #05018f;
  border-radius: 5px;
}

.logoDiv {
    background: #07FEFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#05018f, #07FEFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#05018f, #07FEFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#05018f, #07FEFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#05018f, #07FEFF); /* Standard syntax */
    height: 375px;
}
.container-fluid  {
  background-color: transparent !important;
}

h1 {
  text-align: center;
}

/*** MAIN PAGE - ALL DEALS ***/
/** dealList is the container div for dealLogoDiv and dealInfoDiv **/
/** Within dealInfoDiv is dealDescription, dealUrl, dealAddress, dealExpiration **/

.dealList {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}

.dealBox {
  padding-bottom: 30px;
}

.deal {
  margin-bottom: 30px;
  /*margin-right: 1px;*/
  height: 225px;
  border-radius: 5%;
  border: 2px solid #ddd;
  background-color: #fff;
  box-shadow: 5px 5px 5px #666;
  border-radius: 15px;
  overflow: hidden;
  display: inline;
}

.deal:hover {
  box-shadow: 6px 6px 6px #05018f;
}

.dealLogoDiv {
  width: 40%;
  float: left;
}

.dealInfoDiv {
  width: 60%;
  float: right;
  color: black;
/*  text-align: center;
  position: absolute;
  display: inline-block;*/
  padding-left: 100px;
}

.dealLogo {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 250px;
  max-height: 200px;
}


/** These are all within a single dealInfoDiv **/

.dealExpiration {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  margin-left: 145px;
  margin-top: 50px;
  color: #07008F;
}

.dealDescription {
  font-size: 20px;
  margin-top: 10px;
}

.expiration {
  display: block;
  position: absolute;
  padding-top: 88px;
  padding-left: 85px;
  font-family: Arial;
}

.dealAddress {
  font-family: Arial;
  font-size: 16px;
  font-color: gray;
}

.dealUrl {
  font-family: Arial;
  font-size: 16px;
}

#map {
  width: 500px;
  height: 500px;
}

#userAuth {
  text-align: center;
  /*background-color: white;*/
  color: black;
}

#ownerAuth {
  text-align: center;
  /*background-color: white;*/
  color: black;
}

#logout {
  text-align: center;
}

.text {
  text-align: center;
}

#Links {
  text-align: center;
}

.links {
color: #050091;
}

.deal {
  width: 48% !important;
  margin: 7px;
}

.dealDescription {
  font-size: 20px;
  margin-top: 10px;
}

.today {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 30px;
  font-family: 'chalkboard';
}
/*
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar-default {
  background-color: #2e3192;
  background-image: none;
  border: none;
}

#navbar ul {
  padding-top: 20px;
}
#navbar li {
  list-style: none;
  display: inline;
  padding-top: 120px;
}

#navbar li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
}

#navbar li a:hover {
  background-color: white;
  color: #05018f;
  border-radius: 5px;
}
*/
/* SINGLE DEAL MODAL */

.singleDealLogo {
  max-width: 250px;
  max-height: 250px;
  padding-top: -125px;
}

.singleDealLogoDiv {
  height: 50px;
}

.singleDealInfoDiv {
  position: relative;
  float: right;
}

/* DROPDOWNS */

.filterByExpiration select {
  width: 200px;
  height: 25px;
  font-color: white;
}

.expirationButton {
  font-color: green;
  background-color: white;
}


