body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/Blue-Ray-Background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }

.bluePlateLogo {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

a, .deal {
  cursor: pointer;
}

h1 {
  text-align: center;
}

/*** MAIN PAGE - ALL DEALS ***/

.dealList {
  width: 80%;
  margin: auto;
}

.deal {
  margin: 12px auto;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  height: 225px;
  border: 2px solid #ddd;
  border-radius: 5%;
  border: 2px solid #ddd;
  display: inline-block;
  display: flex;
  background-color: #fff;
  box-shadow: 5px 5px 5px #666;
}

.dealExpiration {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 15px;
}

.dealLogoDiv {
  width: 250px;
  height: 200px;
}

.dealLogo {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 250px;
  max-height: 200px;
}

.resCheckBoxPic {
  max-width: 150px;
  max-height: 100px;
}

.dealInfoDiv {
  width: 50%;
  float: right;
  padding: 10px 5px 0px 10px;
  color: black;
  text-align: center;
  position: relative;
  display: inline-block;
}

#map {
  width: 500px;
  height: 500px;
}

#userAuth {
  text-align: center;
  /*background-color: white;*/
  color: black;
}

#ownerAuth {
  text-align: center;
  /*background-color: white;*/
  color: black;
}

#logout {
  text-align: center;
}

.text {
  text-align: center;
}

#Links {
  text-align: center;
}

.links {
color: #050091;
}

.deal {
  width: 48% !important;
  margin: 7px;
}

.dealDescription {
  font-size: 20px;
  margin-top: 10px;
}

/*.dropdown {
  margin-left: 40%;
  color: black;
}*/

.today {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 30px;
  font-family: 'chalkboard';
}

.dealBox {
  /*background-color: white;*/
  color: black;
  padding-bottom: 5px;
  padding-top: 5px;
}

.singleDealLogo {
  margin-top: 10%;
  margin-bottom: 25%;
  max-width: 250px;
  max-height: 200px;
}

.singleDealLogoDiv {
  height: 50px;
}

.expireButton {
  float: right;
  height: 45px;
  margin: 14px 0 0 5px;
  border: 1px solid #286090;
  border-radius: 8px;
}

#top {
  display: inline-block;
  width: 10%;
  margin-left: 45.5%;
  color: pink;
  text-align: center;
}

